[submodule "vew"]
	path = vew
	url = https://github.com/danielarmengolaltayo/vew.git
[submodule "agora"]
	path = agora
	url = https://github.com/danielarmengolaltayo/agora.git
[submodule "web"]
	path = vew
	url = https://github.com/danielarmengolaltayo/web.git